---
  import InnerBodyWrapper from '../layouts/InnerBodyWrapper.astro'
import MainHead from '../components/MainHead.astro'
  import Debug from "astro/debug"
  interface BlogpostMarkdownFrontmatter {
    title: string;
    publishDate: number;
    url: string;
    tags: Array<string>;
    astro: {
      headers: Array<string>;
      source: string;
      html: string;
    }
  }

const blogposts = Astro.fetchContent<BlogpostMarkdownFrontmatter>('./posts/*.md')
  .filter(({ publishDate }) => !!publishDate)
  .sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

const latestPostDate= new Date(blogposts[0].publishDate).toLocaleDateString();
---
<html lang=en>
  <head>
       <MainHead title="All Blogposts | Aaron Hubbard" description="Words I wrote" />
  </head>
  <body>
      <InnerBodyWrapper>
      <main class="grid gap-16 px-6  max-w-xl m-auto">
        <section class="grid gap-8">
        <h1 class="mt-8">Blogposts</h1>
          <fieldset class="border border-gray-500 p-4">
          <legend class="font-bold text-xl">Table of Contents</legend>
          <ul role="list" class="list-disc ml-4 font-bold ">
            {blogposts.map((blogpost) => (
              <li class="underline py-1 "> 
                <a class="text-blue-800" href={blogpost.url}>{blogpost.title}</a>
              </li>
            ))}
          </ul>
          </fieldset>
        </section>
        <section class="grid gap-8">
          <header class="grid gap-2 border-b-2 pb-4">
          <h2 style="font-size: clamp(2rem, 6vw, 3rem);">{blogposts[0].title}</h2>
          <h3>{latestPostDate}</h3>
          </header>
          <article class="grid gap-2 blog">
            {blogposts[0].astro.html}
          </article>

        </section>
      </main>
    </InnerBodyWrapper>
  </body>
</html>


<!-- {projects.map((project) => (
            <ProjectCard project={project} />
          ))} -->