---
import Debug from 'astro/debug';

// interface ProjectMarkdownFrontmatter {
//   title: string;
//   client: string;
//   publishDate: number;
//   img: string;
//   description: string;
//   url: string;
//   tags: Array<string>;
//   astro: {
//     headers: Array<string>;
//     source: string;
//     html: string;
//   }
// };

// const project: ProjectMarkdownFrontmatter = Astro.props
const {project} = Astro.props;
---

<article class="grid g bg-gray-200 shadow-md">
  <div class="">
    <img src={project.img} class="h-full" />
  </div>
  <div class="bg-blue-900 grid  justify-center items-center p-4">
    <div class="grid gap-y-8">
    <p class="uppercase text-5xl text-gray-50 text-center font-bold">{project.title}</p>
    <p class=" text-gray-50 text-xl text-center" >{project.description}</p>
    <div class="flex justify-around">
      <a class="text-gray-50 text-lg border-2 border-gray-50 uppercase font-bold px-2 py-1 " href={project.url}>Details</a>
      <a class="text-gray-50 text-lg border-2 border-gray-50 uppercase font-bold px-2 py-1 " href={project.link} >Go To Site</a>
    </div>
    </div>
  </div>
</article>